/* TODO Remove next line */
.body-container-wrapper, footer {
  display: none;
}

/* Mobile styles */
.header-container-wrapper {
   background-color: #F3F3F3;
   padding: 20px;
   height: auto;

   display: flex;
   justify-content: space-between;
   align-items: center;
 }

.osh-mm-mobile-logo svg,
.osh-mm-mobile-logo a {
  max-width: 170px;
  height: auto;
  display: block;
}

.osh-mm-mobil-menu-btn button {
  border: 0;
  background: none;
  cursor: pointer;
}

.osh-mm-collabsable {
  background-color: #3d4647;
  position: fixed;
  left: auto;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 80%;
  transition: all 500ms ease;
}
.osh-mm-collabsable.slide-in {
  right: 0;
}

.osh-mm-close {
  text-align: right;
  padding: 25px 25px 20px;
}

.osh-mm-close button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.osh-ctas-new {
  padding: 0 34px 0 30px;
}

.osh-ctas-new .osh-search-2 .flex {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #5D696A;
}

.osh-ctas-new .search-icon svg {
  display: block;
  width: 17px;
  height: auto;
}

.osh-ctas-new .osh-search-2 .flex form {
  line-height: 1;
  flex: 1;
  margin-left: 10px;
}
.osh-ctas-new .osh-search-2 .flex form input {
  width: 100%;
  display: block;
  border-radius: 7px;
  border: 0;
  padding: 2px 8px;
}

.osh-ctas-new .osh-search-2 ~ div,
.osh-ctas-new .osh-search-2 ~ a {
  display: none;
}

.os-header-wrapper .osh-logo-new {
  display: none;
}

.osh-mm-new .navbar ul {
  margin: 0;
  padding: 25px 50px;
}

.osh-mm-new .navbar .hs-menu-item {
  list-style: none;
  margin-bottom: 25px;
  display: block;
  line-height: 1;
}
.osh-mm-new .navbar .hs-menu-item:last-child {
  margin-bottom: 0;
}

.osh-mm-new .navbar .hs-menu-item a {
  color: #fff;
  display: inline-flex;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
}
.osh-mm-new .navbar .has-menu-item a:hover {
  text-decoration: none;
}

.osh-mm-new .navbar .hs-menu-item a.dropdown-arrow::after {

}